<div class="container">

    <div class="d-flex justify-content-between">
        <h4>List of tenders:</h4>
    
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item" ng-class="links.prev == null ? 'disabled' : ''" ng-click="changeListPage(links.first)">
                    <a class="page-link" href="">First</a>
                </li>
                <li class="page-item" ng-class="links.prev == null ? 'disabled' : ''" ng-click="links.prev != null ? changeListPage(links.prev) : return">
                    <a class="page-link" href="">‹</a>
                </li>
                <li class="page-item" ng-class="links.next == null ? 'disabled' : ''" ng-click="links.next != null ? changeListPage(links.next) : return">
                    <a class="page-link" href="">›</a>
                </li>
                <li class="page-item" ng-class="links.next == null ? 'disabled' : ''" ng-click="links.next != null ? changeListPage(links.last) : return">
                    <a class="page-link" href="" >Last</a>
                </li>
            </ul>
        </nav>
    </div>

    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tender in tenders" ng-click="showTender(tender)">
                <th scope="row">{{ tender.data.tender_id }}</th>
                <td>{{ tender.data.title }}</td>
                <td>{{ tender.data.description }}</td>
            </tr>
        </tbody>
    </table>

</div>